@media only screen and (max-width : 480px) {
    h1.about-us {
        font-size: 22px;
    }
    
    .about-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .about-title {
        display: flex;
        justify-content: flex-start;
        margin-top: 3em;
        margin-left: 10%;
    }

    .what,
    .who {
        padding-top: 2em;
        padding-bottom: 0.5em;
        font-size: 25px;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .about-body>* {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 80%;
        align-items: flex-start;
        font-size: 28px;
    }

    .what-text,
    .who-text {
        font-size: 13px;
        line-height: 1.7;
        letter-spacing: 0.5px;
        text-align: justify;
        color: var(--light);
    }

    .what-text,
    .who-text {
        display: flex;
        justify-content: flex-start;
    }

    .what-text,
    .who-text {
        display: flex;
        justify-content: flex-start;
    }

    .wrapper-photos {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .about-photos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5% 15%;
    }

    .profile-card {
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        width: 200px;
        height: 175px;
        background: var(--light);
        padding: 30px;
        border-radius: 50%;
        box-shadow: 0 0 22px #3336;
        transition: .6s;
        margin: 15%;
    }

    .profile-card .img {
        position: relative;
        width: 100%;
        height: 100%;
        transition: .6s;
        z-index: 99;
    }

    .img img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 12px #3336;
        transition: .6s;
    }

    .profile-card:hover {
        border-radius: 10px;
        height: 200px;
    }

    .profile-card:hover .img {
        transform: translateY(-60px);
    }

    .profile-card:hover img {
        border-radius: 10px;
    }

    .caption {
        width: 100%;
        text-align: center;
        transform: translateY(-80px);
        opacity: 0;
        transition: .6s;
    }

    .profile-card:hover .caption {
        opacity: 1;
    }

    .caption h2 {
        font-size: 21px;
        font-family: 'Poppins', regular;
        color: var(--darkGreen);
    }

    .caption p {
        text-align: center;
        display: flex;
        font-size: 16px;
        color: var(--grey);
        font-family: sans-serif;
        padding-left: 8px;
        margin: 2px 0 9px 0;
    }

    .back {
        font-size: 12px;
        opacity: 1;
        cursor: pointer;
    }

    .back:hover {
        opacity: 0.9;
    }

    .footer {
        display: flex;
        align-items: stretch;
        width: 100%;
        font-size: 16px;
    }

    .echargemap-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .copyright,
    .logo-footer {
        padding: 5px;
    }

    .logo-footer {
        margin: 0 auto;
        height: 52px;
        width: 50px;
    }

    .copyright {
        width: 20%;
        font-size: 13px;
        text-align: center;
    }

    .socialmediaicons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 20%;
    }

    .socialmedia {
        margin: 2% 0 2%;
    }

    .twitter {
        height: 32px;
        width: 30px;
    }
}

@media only screen and (min-width : 481px) {
    h1.about-us {
        font-size: 22px;
    }
    
    .about-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .about-title {
        display: flex;
        justify-content: flex-start;
        margin-top: 3em;
        margin-left: 10%;
    }

    .what,
    .who {
        padding-top: 2em;
        padding-bottom: 0.5em;
        font-size: 25px;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .about-body>* {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 80%;
        align-items: flex-start;
        font-size: 28px;
    }

    .what-text,
    .who-text {
        font-size: 13px;
        line-height: 1.7;
        letter-spacing: 0.5px;
        text-align: justify;
        color: var(--light);
    }

    .what-text,
    .who-text {
        display: flex;
        justify-content: flex-start;
    }

    .what-text,
    .who-text {
        display: flex;
        justify-content: flex-start;
    }

    .wrapper-photos {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .about-photos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5% 20%;
    }

    .profile-card {
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        width: 200px;
        height: 175px;
        background: var(--light);
        padding: 30px;
        border-radius: 50%;
        box-shadow: 0 0 22px #3336;
        transition: .6s;
        margin: 15%;
    }

    .profile-card .img {
        position: relative;
        width: 100%;
        height: 100%;
        transition: .6s;
        z-index: 99;
    }

    .img img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 12px #3336;
        transition: .6s;
    }

    .profile-card:hover {
        border-radius: 10px;
        height: 200px;
    }

    .profile-card:hover .img {
        transform: translateY(-60px);
    }

    .profile-card:hover img {
        border-radius: 10px;
    }

    .caption {
        width: 100%;
        text-align: center;
        transform: translateY(-80px);
        opacity: 0;
        transition: .6s;
    }

    .profile-card:hover .caption {
        opacity: 1;
    }

    .caption h2 {
        font-size: 21px;
        font-family: 'Poppins', regular;
        color: var(--darkGreen);
    }

    .caption p {
        text-align: center;
        display: flex;
        font-size: 16px;
        color: var(--grey);
        font-family: sans-serif;
        padding-left: 8px;
        margin: 2px 0 9px 0;
    }

    .back {
        font-size: 12px;
        opacity: 1;
        cursor: pointer;
    }

    .back:hover {
        opacity: 0.9;
    }

    .footer {
        display: flex;
        align-items: stretch;
        width: 100%;
        font-size: 16px;
    }

    .echargemap-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .copyright,
    .logo-footer {
        padding: 5px;
    }

    .logo-footer {
        margin: 0 auto;
        height: 52px;
        width: 50px;
    }

    .copyright {
        width: 20%;
        font-size: 13px;
        text-align: center;
    }

    .socialmediaicons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 20%;
    }

    .socialmedia {
        margin: 2% 0 2%;
    }

    .twitter {
        height: 32px;
        width: 30px;
    }
}

@media only screen and (min-width : 760px) {
    .about-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .about-title {
        display: flex;
        justify-content: flex-start;
        margin-top: 3em;
        margin-left: 20%;
    }

    .what,
    .who {
        padding-top: 2em;
        padding-bottom: 0.5em;
        font-size: 25px;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .about-body>* {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        width: 60%;
        align-items: flex-start;
        font-size: 28px;
    }

    .what-text,
    .who-text {
        font-size: 15px;
        line-height: 1.7;
        letter-spacing: 0.5px;
        text-align: justify;
        color: var(--light);
    }

    .what-text,
    .who-text {
        display: flex;
        justify-content: flex-start;
    }

    .what-text,
    .who-text {
        display: flex;
        justify-content: flex-start;
    }

    .wrapper-photos {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .about-photos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5% 25%;
    }

    .profile-card {
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        width: 200px;
        height: 175px;
        background: var(--light);
        padding: 30px;
        border-radius: 50%;
        box-shadow: 0 0 22px #3336;
        transition: .6s;
        margin: 15%;
    }

    .profile-card .img {
        position: relative;
        width: 100%;
        height: 100%;
        transition: .6s;
        z-index: 99;
    }

    .img img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 12px #3336;
        transition: .6s;
    }

    .profile-card:hover {
        border-radius: 10px;
        height: 200px;
    }

    .profile-card:hover .img {
        transform: translateY(-60px);
    }

    .profile-card:hover img {
        border-radius: 10px;
    }

    .caption {
        width: 100%;
        text-align: center;
        transform: translateY(-80px);
        opacity: 0;
        transition: .6s;
    }

    .profile-card:hover .caption {
        opacity: 1;
    }

    .caption h2 {
        font-size: 21px;
        font-family: 'Poppins', regular;
        color: var(--darkGreen);
    }

    .caption p {
        text-align: center;
        display: flex;
        font-size: 16px;
        color: var(--grey);
        font-family: sans-serif;
        padding-left: 8px;
        margin: 2px 0 9px 0;
    }

    .back {
        font-size: 12px;
        opacity: 1;
        cursor: pointer;
    }

    .back:hover {
        opacity: 0.9;
    }

    .footer {
        display: flex;
        align-items: stretch;
        width: 100%;
        font-size: 16px;
    }

    .echargemap-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-left: 8%;
        margin-right: 8%;
    }

    .copyright,
    .logo-footer {
        padding: 5px;
    }

    .logo-footer {
        margin: 0 auto;
        height: 52px;
        width: 50px;
    }

    .copyright {
        width: 20%;
        font-size: 13px;
        text-align: center;
    }

    .socialmediaicons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 20%;
    }

    .socialmedia {
        margin: 2% 0 2%;
    }

    .twitter {
        height: 32px;
        width: 30px;
    }
}

@media only screen and (min-width : 992px) {
    .about-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .about-title {
        display: flex;
        justify-content: flex-start;
        margin-top: 3em;
        margin-left: 20%;
    }

    .what,
    .who {
        padding-top: 2em;
        padding-bottom: 0.5em;
        font-size: 28px;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .about-body>* {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        width: 60%;
        align-items: flex-start;
        font-size: 28px;
    }

    .what-text,
    .who-text {
        font-size: 16px;
        line-height: 1.7;
        letter-spacing: 0.5px;
        text-align: justify;
        color: var(--light);
    }

    .what-text,
    .who-text {
        display: flex;
        justify-content: flex-start;
    }

    .wrapper-photos {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .about-photos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1% 0%;
    }

    .profile-card {
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        width: 200px;
        height: 175px;
        background: var(--light);
        padding: 30px;
        border-radius: 50%;
        box-shadow: 0 0 22px #3336;
        transition: .6s;
        margin: 0 30px;
    }

    .profile-card .img {
        position: relative;
        width: 100%;
        height: 100%;
        transition: .6s;
        z-index: 99;
    }

    .img img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 12px #3336;
        transition: .6s;
    }

    .profile-card:hover {
        border-radius: 10px;
        height: 200px;
    }

    .profile-card:hover .img {
        transform: translateY(-60px);
    }

    .profile-card:hover img {
        border-radius: 10px;
    }

    .caption {
        width: 100%;
        text-align: center;
        transform: translateY(-80px);
        opacity: 0;
        transition: .6s;
    }

    .profile-card:hover .caption {
        opacity: 1;
    }

    .caption h2 {
        font-size: 21px;
        font-family: 'Poppins', regular;
        color: var(--darkGreen);
    }

    .caption p {
        text-align: center;
        display: flex;
        font-size: 16px;
        color: var(--grey);
        font-family: sans-serif;
        padding-left: 8px;
        margin: 2px 0 9px 0;
    }

    .back {
        font-size: 12px;
        opacity: 1;
        cursor: pointer;
    }

    .back:hover {
        opacity: 0.9;
    }

    .footer {
        display: flex;
        align-items: stretch;
        width: 100%;
        font-size: 16px;
    }

    .echargemap-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .copyright,
    .logo-footer {
        padding: 5px;
    }

    .logo-footer {
        margin: 0 auto;
        height: 52px;
        width: 50px;
    }

    .copyright {
        width: 20%;
        font-size: 13px;
        text-align: center;
    }

    .socialmediaicons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 20%;
    }

    .socialmedia {
        margin: 2% 0 2%;
    }

    .twitter {
        height: 32px;
        width: 30px;
    }

}

@media only screen and (min-width : 1280px) {
    .about-container {
        display: flex;
        flex-direction: column;
        height: 95vh;
    }

    .about-body {
        height: 95vh;
    }

    .about-title {
        display: flex;
        justify-content: center;
        margin-top: 3em;
        margin-left: 0;
    }

    .what,
    .who {
        padding-top: 2em;
        padding-bottom: 0.5em;
        font-size: 28px;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .about-body>* {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        width: 60%;
        align-items: flex-start;
        font-size: 28px;
    }

    .what-text,
    .who-text {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.5px;
        text-align: justify;
        color: var(--light);
    }

    .what-text {
        display: flex;
        justify-content: flex-start;
    }

    .wrapper-photos {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .about-photos {
        display: flex;
        /*margin: 2em 0;*/
    }

    .profile-card {
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        width: 470px;
        height: 220px;
        background: var(--light);
        padding: 30px;
        border-radius: 50%;
        box-shadow: 0 0 22px #3336;
        transition: .6s;
        margin: 0 80px;
    }

    .profile-card .img {
        position: relative;
        width: 100%;
        height: 100%;
        transition: .6s;
        z-index: 99;
    }

    .img img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 22px #3336;
        transition: .6s;
    }

    .profile-card:hover {
        border-radius: 10px;
        height: 260px;
    }

    .profile-card:hover .img {
        transform: translateY(-60px);
    }

    .profile-card:hover img {
        border-radius: 10px;
    }

    .caption {
        width: 100%;
        text-align: center;
        transform: translateY(-80px);
        opacity: 0;
        transition: .6s;
    }

    .profile-card:hover .caption {
        opacity: 1;
    }

    .caption h2 {
        font-size: 21px;
        font-family: 'Poppins', regular;
        color: var(--darkGreen);
    }

    .caption p {
        text-align: center;
        display: flex;
        font-size: 16px;
        color: var(--grey);
        font-family: sans-serif;
        padding-left: 8px;
        margin: 2px 0 9px 0;
    }

    .back {
        font-size: 12px;
        opacity: 1;
        cursor: pointer;
    }

    .back:hover {
        opacity: 0.9;
    }

    .footer {
        display: flex;
        align-items: stretch;
        width: 100%;
        font-size: 16px;
    }

    .echargemap-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        height: 5vh;
        margin-left: 25%;
        margin-right: 25%;
    }

    .copyright,
    .logo-footer {
        padding: 5px;
    }

    .logo-footer {
        margin: 0 auto;
        height: 52px;
        width: 50px;
    }

    .copyright {
        width: 20%;
        font-size: 13px;
        text-align: center;
    }

    .socialmediaicons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 20%;
    }

    .socialmedia {
        margin: 2% 0 2%;
    }

    .twitter {
        height: 32px;
        width: 30px;
    }
}