:root { 
  --light: #F0F0F1;
  --dark: #515162;
  --darkGreen: #207868;
  --lightGreen: #8DD7CF;
  --lightGreenHover: #BBE7E2;
  --blue: #6558F5;
  --blueHover: #a39bf9;
  --grey: #4B5C6B;
  --yellow: #F7C325;
  --violet: #BD8FD1;
  --violetHover: #d7bce3;
}

