@import 'constants.css';

#darkMode {
    background-color: var(--grey);
}

#darkMode .menu-icon  {
    color: var(--light);
}

#darkMode h1 {
    color: var(--lightGreen);
} 

.buttons #darkMode {
    background-color: var(--grey);
    border: 1px solid var(--lightGreenHover);
    border-color: #dddddd;
    color: var(--light);
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 600;
}

#darkMode Menu {
    background-color: var(--grey);
}

#darkMode .modal-login {
    background-color: black;
}