@import 'constants.css';

.app-menu {
  color: var(--grey);
  height: 100vh;
  width: 40rem;
  background-color: var(--light);
  z-index: 200;
  transform: translateX(-100%);
  transition: 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
}

.menu-open {
  transform: translateX(0%);
}

.menu-items {
   margin-top: 10em;
   
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-items > .list > a {
  display: flex;
  flex-direction: column;
  padding-inline-start: 20px;
  padding: 10px;
  margin: 30px;
  font-size: 16px;
  opacity: 0.9;
}

a:hover {
  cursor: pointer;
}

.list > a:hover {
  opacity: 1;
}

.list > a::after {
  content: "";
  position: relative;
  left: 0;
  width: 0;
  right: 0;
  height: 1px;
  transition: all .45s;
}

.list > a:hover::after {
  width: 100%;
}

/* LIGHTMODE STYLES */

#lightMode > a {
  color: var(--blue);
}

#lightMode > a::after {
  background: var(--blue);
}

/* DARKMODE STYLES */

 #darkMode .app-menu {
  background-color: var(--grey);
}




