/*Section del FORMULARIO */
.section-signup {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

/*FORMULARIO*/
form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  /*font-family: "Roboto", sans-serif;*/
}

p {
  color: var(--blue);
  font-size: 14px;
  display: inline-flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: column
}

/*LINKS en FORMULARIO*/
.line {
  color: var(--blue);
  font-weight: 350;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
}

.line:hover {
  font-style: italic;
}

.line:visited {
  color: var(--blueHover);
}



input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 1rem;
  border-radius: 5rem;
  width: 100%;
}

label {
  display: block;
  color: var(--blue);
  margin-left: 1.5rem;
  font-weight: 350;
  font-size: 13px;
  
  
}

/*INPUTS */
.input-signup {
  width: 30rem;
  padding-right: 3em;
  color: var(--dark);
  margin: 0.3rem;
  border: 1px solid rgba(216, 216, 216, 0.933);
  transition: .3s border-color;
}

.input-signup:hover {
  border: 1px solid #aaa;
}

.input-signup:required:focus:valid {
  color: var(--darkGreen);
  border: 1.5px solid var(--darkGreen);
}

.input-signup:required:focus:invalid {
  color: var(--violet);
  border: 1.5px solid var(--violet);
}

/* BOTON de REGISTRO */
.btn-signup {
  align-self: flex-center;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--lightGreen);
  color: var(--dark);
  border-color: var(--lightGreen);
  border-style: NONE;
  border-radius: 5rem;
  margin-top: 2.5rem;
  padding: 1rem;
  cursor: pointer;
}

/* BOTON de REGISTRO */
.btn-signup:hover {
  background-color: var(--lightGreenHover);
  
}

/* BOTON de REGISTRO */
.btn-signup:disabled {
  background-color: var(--light);
  border: 3px solid;
  border-color: var(--violet);
  color: var(--dark);
  cursor: not-allowed;
}

/*Instrucciones en Inputs del formulario */
.instructions-signup {
  width: 20vh;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  background: #4b5c6b;
  color: #fff;
  padding: 0.3rem;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

/* Iconos ocultos */
.hide {
  display: contents;
  color: transparent;
}

.valid {
  color: var(--lightGreen);
 PADDING-left: 0.35rem;
}

.invalid {
  color: var(--violet);
  margin-left: 0.35rem;
}

.validInvalidIcons {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

p[id="usernameinfo"],
p[id="passwordinfo"],
p[id="confirminfo"],
p[id="nameinfo"],
p[id="lastnameinfo"],
p[id="mailinfo"],
p[id="locationinfo"] {
  display: flex;
  flex-direction: column;
}


.errorMessage {
  background-color: #4b5c6b;
  color: #f7c325;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
  
  font-weight: 350;
}

.line-reset {
  display: inline-block;
  color: var(--dark);
}