@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import './stylesheets/constants.css';


html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* Pqe el padding no modifiqui la mida total de la caixa */

  font-family: 'Poppins', sans-serif;
  background-color: inherit;
  
}

body {
  font-family: 'Poppins', regular;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter', bold;
}

h1 {
  font-size: 36px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

p {
  font-family: 'Poppins', regular;
}

a {
  font-family: 'Poppins', regular;
  text-decoration: none;
}

button {
  font-family: 'Poppins', regular;
}

html,
.body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

header {
  width: 100%;
  padding-right: 10em;
  padding-left: 10em;
}

.menu-icon:hover {
  cursor: pointer;
}

.echargemap:hover .logo {
  opacity: 0.9;
  cursor: pointer;
}

.echargemap:hover .title {
  opacity: 0.9;
  cursor: pointer;
}

@media only screen and (max-width : 480px) {
  h1.title {
    display: none;
  }        

  .nav  {
    min-width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .menu-icon {
    width: 30px;
    height: 40px;
  }

  .echargemap .logo {
    height: 41px;
    width: 39px;
    margin: 0 auto;
  }

  .menu-icon, .echargemap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .buttons-nav {
    justify-content: space-between;
    margin: 0.15em;
    padding: 0.05em 0.5em;
    border-radius: 30px;
    opacity: 1;
  }

  .buttons-nav:hover {
    cursor: pointer;
    color: var(--violetHover);
    opacity: 0.9;
  }

  svg.user-icon#lightMode {
    stroke: var(--grey);
    fill: var(--grey);
  }

  .user-login {
    padding: 10%;
  }
}

@media only screen and (min-width : 481px) {

  h1 {
    display: unset;
    font-size: 20px;
  }

  .nav {
    min-width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu-icon {
    width: 40px;
    height: 50px;
  }

  .echargemap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .echargemap .logo {
    height: 32px;
    width: 30px;
    margin: 0 auto;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .buttons-nav {
    justify-content: space-between;
    margin: 0.2em;
    padding: 0.1em 1em;
    border-radius: 30px;
    opacity: 1;
  }

  .buttons-nav:hover {
    cursor: pointer;
    color: var(--violetHover);
    opacity: 0.9;
  }
}

@media only screen and (min-width : 760px) {

  h1 {
    font-size: 26px;
  }

  .nav {
    min-width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu-icon {
    width: 45px;
    height: 55px;
  }

  .echargemap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .echargemap .logo {
    height: 42px;
    width: 40px;
    margin: 0 auto;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .buttons-nav {
    justify-content: space-between;
    margin: 1em;
    padding: 0.3em 1.5em;
    border-radius: 30px;
    opacity: 1;
  }

  .buttons-nav:hover {
    cursor: pointer;
    color: var(--violetHover);
    opacity: 0.9;
  }

  .logout-nav {
    display: flex;
    align-items: center;
    margin-right: 5%;
  }

}

@media only screen and (min-width : 992px) {

  /*.App {
      width: 100vh;
      height: 100vh;
    }*/

  .nav {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-icon {
    width: 50px;
    height: 60px;
  }

  .echargemap {
    display: flex;
    flex-direction: row;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .buttons-nav {
    justify-content: space-between;
    margin: 0.5em;
    padding: 0.5em 2em;
    border-radius: 30px;
    opacity: 1;
  }

  .buttons-nav:hover {
    cursor: pointer;
    color: var(--violetHover);
    opacity: 0.9;
  }

}

@media only screen and (min-width : 1280px) {

  /*.App {
  height: 100vh;
  background-color: var(--grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}*/

  h1 {
    font-size: 36px;
  }

  .App {
    overflow: hidden;
  }

  .nav {
    min-width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .menu-icon {
    margin-left: 10%;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  .echargemap {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-left: 21%;
  }

  .echargemap .logo {
    height: 52px;
    width: 50px;
    margin: 0 auto;
  }

  .echargemap:hover .logo {
    opacity: 0.9;
    cursor: pointer;
  }

  .echargemap:hover .title {
    opacity: 0.9;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .buttons-nav {
    justify-content: space-between;
    margin: 0.5em;
    padding: 0.5em 2em;
    border-radius: 30px;
    opacity: 1;
  }

  .buttons-nav:hover {
    cursor: pointer;
    color: var(--violetHover);
    opacity: 0.9;
  }

  .btn-logout {
    color: var(--blue);
    font-size: 12px;
    opacity: 1;
  }

  .btn-logout:hover {
    opacity: 0.8;
    font-style: italic;
  }

  .mode {
    padding: 0px 0.2px;
  }

  .user-login {
    opacity: 1;
  }

  .user-login:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

