@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import './stylesheets/constants.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* Pqe el padding no modifiqui la mida total de la caixa */

  font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter', bold;
}

h1 {
  font-size: 36px;
}

html,
.body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;

}

header {
  width: 100%;
}

.App {
  height: 100vh;
  padding-top: 1px;
  background-color: var(--grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-icon {
  margin-right: 30em;
}

.menu-icon:hover {
  cursor: pointer;
}

.echargemap {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.logo {
  height: 52px;
  width: 50px;
  margin: 0 1em;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons-nav {
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em 2em;
  border-radius: 30px;
  border-color: white;
  border-width: 0px;
  border-style: none;
}

.buttons-nav:hover {
  cursor: pointer;
  color: var(--violetHover);
}

.mode {
  padding: 0px 0.2px;
}